.cinza {
  position: absolute;
  margin: 0 !important;
  top: 391px;
  left: 176px;
  background-color: var(--color-gray-100);
  width: 1044px;
  height: 347px;
  z-index: 0;
}
.segundo {
  position: relative;
  border-radius: var(--br-71xl);
  background-color: var(--color-gray-200);
  width: 181px;
  height: 180px;
  z-index: 0;
}
.criar-nova-ficha {
  position: absolute;
  margin: 0 !important;
  top: 120px;
  left: 0;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 181px;
  height: 21px;
  flex-shrink: 0;
  z-index: 1;
}
.kisspng-computer-icons-documen {
  position: absolute;
  margin: 0 !important;
  top: 30px;
  left: 46px;
  width: 99px;
  height: 106px;
  object-fit: cover;
  z-index: 2;
}
.boto-6,
.procurar-fichas {
  position: absolute;
  margin: 0 !important;
  display: flex;
  z-index: 1;
}
.boto-6 {
  top: 475px;
  left: 225px;
  border-radius: var(--br-71xl);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.procurar-fichas {
  top: 120px;
  left: 0;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  width: 181px;
}
.kisspng-computer-icons-documen1 {
  top: 30px;
  left: 46px;
  width: 88px;
  height: 98px;
  object-fit: cover;
}
.boto-2,
.kisspng-computer-icons-documen1,
.kisspng-computer-icons-documen2 {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.boto-2 {
  top: 475px;
  left: 480px;
  border-radius: var(--br-71xl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.kisspng-computer-icons-documen2 {
  top: 41px;
  left: 38px;
  width: 105px;
  height: 80px;
  object-fit: cover;
}
.boto-3,
.log-out {
  position: absolute;
  margin: 0 !important;
  display: flex;
}
.boto-3 {
  top: 475px;
  left: 735px;
  border-radius: var(--br-71xl);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  cursor: pointer;
  z-index: 3;
  font-size: var(--font-size-lgi-5);
}
.log-out {
  top: 121px;
  left: 0;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  width: 181px;
  height: 21px;
  flex-shrink: 0;
  z-index: 1;
}
.kisspng-computer-icons-documen3 {
  position: absolute;
  margin: 0 !important;
  top: 36px;
  left: 50px;
  width: 82px;
  height: 85px;
  object-fit: cover;
  z-index: 2;
}
.boto-4,
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.boto-4 {
  margin: 0 !important;
  position: absolute;
  top: 475px;
  left: 990px;
  border-radius: var(--br-71xl);
  gap: var(--gap-3xs);
  cursor: pointer;
  z-index: 4;
}
.menu {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1129px;
  overflow: hidden;
  padding: var(--padding-41xl) 0 var(--padding-41xl) var(--padding-43xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
